*{
    margin: 0px;
    padding:0px ;
}

body{
    padding-left: 100px;
    border: solid 15px black;
    width: 57.6em;
    text-align:center;
    margin-left:81em;
    margin-top: 3.4em;
    height: 80em;
  background-color:white;
    
}
#head{
    font-family:"Lucida Bright",serif;
    position: absolute;
   
    left:4.9em;
    color: darkblue;
    text-shadow: -10px 37px skyblue;
    z-index:800;
    font-size:269px;
}
#headcopy{
    font-family:"Lucida Bright",serif;
    position: absolute;
    top: 0.1em;
    left:4.92em;
    color: red;
     font-size:270px;
    z-index:901;
}
#img{
    position: absolute;
    z-index: 900;
   left: 78.29em;
    height: 80em;
    width: 71em;
}
#a{
    position: absolute;
    top: 12.85em;
    left: 20.8em;
    z-index: 998;
    font-size: 70px;
    font-weight: bold;
    text-shadow: -5px 5px white;
   
}
#b{
    position: absolute;
z-index: 997;
top: 16.4em;
left: 24.6em;
font-size: 59px;
font-weight: bolder;
font-style: italic;
text-shadow: -5px 5px white;
font-family: Ink Free, serif; 
}
#c{
    position: absolute;
z-index: 996;
top: 19.9em;
left: 22.6em;
font-size: 59px;
font-weight: bolder;
font-style: italic;
text-shadow: 1px 5px 2px white, 0 0 0.9em rgb(0,188,255), 0 0 0.2em blue;
font-family: Segoe Script, serif; 
   }
   #us{
    position: absolute;
    z-index: 994;
    color: black;
    top: 2.2em;
    left: 19.55em;
    font-size: 70px;
    font-weight: bolder;
    font-style: italic;
    
   }
#unstop{
    position: absolute;
z-index: 999;
top: 10.3em;
left: 18.3em;
font-size: 80px;
font-style: italic;
text-shadow: -5px 5px blueviolet;
font-family: Segoe Script, serif
}


#barcode{
    position: absolute;
    z-index: 992;
    left: 125.5em;
    height: 10em;
    width: 20em;
    top: 74em;
}
#fashion{
    position: absolute;
z-index: 999;
top: 4.5em;
left: 6.87em;
font-size: 150px;
font-style: italic;
font-weight: bold;
text-shadow: -10px 25px #ea00cd;
transform: rotate(270deg);
color: white;

}
#date{
    position: absolute;
z-index: 999;
top: 38em;
left: 67em;
font-size: 30px;
font-style: italic;
font-weight: bolder;
}

footer{
    position: absolute;
z-index: 999;
top: 66em;
left: 66em;
font-size: 20px;
font-style: italic;
font-weight: bold;
}